*{
  box-sizing: border-box;
}
body{
  background: linear-gradient(45deg, rgba(140,191,63,1) 0%, rgba(242,204,15,1) 50%, rgba(242,242,242,1) 100%);
  margin: 0;
  font-family: 'Roboto', sans-serif;
  padding: 80px;
}
.container-fluid{
  width: 100%;
}
/* .container{
  margin: 0 auto;
} */
main{
  border: 12px solid #9453A6;
  background: rgba(255, 255, 255, 0.8);
  padding: 16px;
  text-align: center;
  
}
main h1{
font-family: 'henny penny';
font-weight: 300;
font-size: 3em;
padding: 24px;
}
main hr{
background-color: #9453A6;
height: 2px;
width: 70%;
}
main .imgs{
margin-top: 32px;
margin-bottom: 32px;
display: grid;
grid-template-columns: repeat(2 , 2fr);
gap: 1em;

}
main p{
font-size: 1.2em;
columns: 2;
text-align: justify;
}

@media screen and (max-width:1200px){

  main .imgs{
  display: block;
  }
  main .imgs img{
  width: 45%;
  margin: 8px;
  }
}
@media screen and (max-width:992px){
  body{
    padding: 32px;
  }
  main{
    border: 8px solid #9453A6;
    padding: 12px;    
  }
  main h1{
  font-size: 2em;
  padding: 16px 0;
  }
  main hr{
  height: 1px;
  width: 70%;
  }
  main .imgs{
  display: block;
  }
  main .imgs img{
  width: 40%;
  margin: 8px;
  margin-bottom: 8px;
  }
  main p{
  font-size: 1em;
  columns: 2;
  }
}
@media screen and (max-width:768px){

  main hr{
  height: 1px;
  width: 70%;
  }
  main .imgs{
  display: block;
  margin-bottom: 4px;
  }
  main .imgs img{
  width: 90%;
  margin: 8px;
  }
  main p{
  font-size: 1em;
  columns: 1;
  margin-bottom: 4px;
  }
}

